@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    border:0px;
    padding : 0px;
    box-sizing: border-box;
}
body{
    background-color: #a7c2eb;
    font-family: 'Nunito', sans-serif;

}
.container{
    display: flex;
    justify-content: center;
    /* height: 600px; */
    /* align-items: flex-start; */
    margin-top: 50px;
    flex-direction: column;
    /* border: 1px solid black; */
}
.inputsection{
    justify-items: center;
    /* border: 1px solid black; */
    align-items: center;
    margin:  0px auto;

}
.inputsection input{
    outline: none;
    width: 300px;
    height: 30px;
    padding: 10px;
    /* margin: 10px; */
}
.inputsection button{
    outline: none;
    width: 80px;
    font-size: 16px;

    font-weight: bold;
    height: 30px;
    /* padding: 10px; */
    color: #4b44a8;
    background-color: #b1ebfa;
}
.heading{
    /* font-size: 28px;
    font-family: Arial, Helvetica, sans-serif; */
    color: black;
    text-align: center;
}
.itemslist{
    display: flex;
    align-items: center;
}
.itemslist li{
    width: 385px;
    height: 40px;
    padding: 10px;
    background-color: #ec427b;
    list-style-type: none;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 16px;
    animation: 0.3s ease-in-out;
    animation-name: slideIn;

}
.kitchenitemlist li:hover{
    background-color: #d346a4;
    /* scale: 1.05; */
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: rotateX(60deg) translateY(-10px);
    }
    to{
        opacity: 1;
        transform:rotateX(0deg) translateY(0px);
    }
}